<div class="card">
    <div class="card-body">
    <form>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="fName" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lName" class="form-control" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="email">Phone Number</label>
            <input type="number" id="phone" class="form-control" placeholder="Phone Number">
        </div>
        <div class="form-group">
            <label for="email">Email Adress</label>
            <input type="email" id="email" class="form-control" placeholder="Email">
        </div>
    </form>
    <button type="submit" class="btn btn-primary">Add Contact</button>
</div>
</div>