.button{
    width: 200px;
    margin-left: 37%;
    margin-bottom: 10px;
}

.card{
    margin-left: 30%;
    margin-top: 10px;
    margin-right: 30%;
}

.centered{
    padding-left: 35%;
}

.link{
    color:purple;
}